@{
    ViewBag.Title = "AttendanceList";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model System.Data.DataTable

<div class="right" id="mainFrame">

    <div class="right_cont">
        <ul class="breadcrumb">
            当前位置：
            <a href="#">首页</a>
            <span class="divider">/</span>
            考勤列表
        </ul>

        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr align="center">
                 <td nowrap="nowrap"><strong>用户账号</strong></td><td nowrap="nowrap"><strong>签到时间</strong></td><td nowrap="nowrap"><strong>签到地点</strong></td><td nowrap="nowrap"><strong>签到方式</strong></td>
                    <td width="80" nowrap="nowrap"><strong> 操作 </strong></td>
                </tr>
                @foreach (System.Data.DataRow dr in Model.Rows)
                {
                    <tr align="center">
                        <td nowrap="nowrap">@dr["userid"] </td><td nowrap="nowrap">@dr["checktime"] </td><td nowrap="nowrap">@dr["checkaddress"] </td><td nowrap="nowrap">@dr["checktype"] </td>
                        <td nowrap="nowrap">
                            @Html.ActionLink("编辑", "AttendanceEdit", new { id = @dr["id"] })
                            @Html.ActionLink("删除", "AttendanceDelete", new { id = @dr["id"] })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
