@{
    ViewBag.Title = "CouresList";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model System.Data.DataTable

<div class="right" id="mainFrame">

    <div class="right_cont">
        <ul class="breadcrumb">
            当前位置：
            <a href="#">首页</a>
            <span class="divider">/</span>
            课程列表
        </ul>

        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr align="center">
                 <td nowrap="nowrap"><strong>课程名称</strong></td><td nowrap="nowrap"><strong>任课老师</strong></td><td nowrap="nowrap"><strong>上课地点</strong></td><td nowrap="nowrap"><strong>上课时间</strong></td><td nowrap="nowrap"><strong>学时</strong></td><td nowrap="nowrap"><strong>学分</strong></td><td nowrap="nowrap"><strong>说明</strong></td>
                    <td width="80" nowrap="nowrap"><strong> 操作 </strong></td>
                </tr>
                @foreach (System.Data.DataRow dr in Model.Rows)
                {
                    <tr align="center">
                        <td nowrap="nowrap">@dr["coursename"] </td><td nowrap="nowrap">@dr["theter"] </td><td nowrap="nowrap">@dr["theaddress"] </td><td nowrap="nowrap">@dr["thetime"] </td><td nowrap="nowrap">@dr["thexs"] </td><td nowrap="nowrap">@dr["thexf"] </td><td nowrap="nowrap">@dr["memos"] </td>
                        <td nowrap="nowrap">
                            @Html.ActionLink("编辑", "CouresEdit", new { id = @dr["id"] })
                            @Html.ActionLink("删除", "CouresDelete", new { id = @dr["id"] })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
